@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');

.modal-content {
	font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
    background: rgb(52, 56, 61);
}
.modal-title {
	color: rgb(255, 255, 255);
	padding: 0 1em;
	width: 200px;
}
.modal-body {
	position: relative;
	width: 100%;
	padding: 1em;
	margin: auto;
}
/* === Sign in Form === */
form.signin {
	width: inherit;
	border-radius: 8px;
	position: relative;
}
form.signin::before {
	display: block;
	position: relative;
	height: 2px;
	background: rgb(52, 56, 61);
	content: '';
	top: 44px;
	margin-left: 20px;
	z-index: 1;
}
form.signin input:first-of-type {
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
form.signin input:last-of-type {
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
form.signin input, form.signin button {
	background: rgb(28, 30, 33);
	box-shadow: inset -100px -100px 0 rgb(28, 30, 33); /*Prevent yellow autofill color*/
	color: rgb(52, 56, 61);
}
form.signin input {
	position: relative;
	display: block;
	width: 100%;
	height: 45px;
	border: 0;
	outline: 0;
	padding: 0 8% 0 20px;
	font-weight: 700;
}
form.signin input:focus {
	color: rgb(255, 255, 255);
}
form.signin button{
	display: block;
	position: absolute;
	width: 52px;
	height: 52px;
	color: rgb(52, 56, 61);
	border-radius: 50px;
	outline: 0;
	z-index: 2;
	top: 19px;
	right: -24px;
	border: 6px solid rgb(52, 56, 61);
	font-size: 25px;
	text-indent: 0px;
	padding-left: 9px;
	padding-bottom: 3px;
	text-align: center;
}
form.signin button[type="submit"]:hover{
	color: rgb(0, 126, 165);
	text-shadow: 0 0 10px rgb(0, 126, 165);
	cursor: pointer;
}
form.signin p {
	color: rgb(79, 85, 97);
	padding: 0 20px;
	font-weight: 700;
	font-size: 12px;
	margin: 5px 0 0 0;
}
form.signin p > a{
	color: rgb(111, 119, 135);
	text-decoration: none;
}
form.signin p > a:hover{
	border-bottom: 1px solid;
}